{% extends "base.html" %}
{% load static %}


{% block contenedor %}
      <!-- bienvenidos -->
        <section id="bienvenido">
            <h2>Galeria de Masotas que buscan un hogar</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, quas eius consequatur maiores ratione, tenetur corrupti consequuntur odio vero commodi illo a aperiam. Sequi mollitia praesentium modi distinctio ullam maiores!</p>            
        </section>
         <h1>Galería de imágenes</h1>

    {% for imagen in imagenes %}
        <img src="{{ imagen.imagen.url }}" alt="{{ imagen.nombre }}">
    {% endfor %}





{% endblock contenedor %}
